.fl {
  float: left;
}
.goodstable {
  color: #2a2a2a;
	font-size: 18px;
  text-align: center;
  line-height: 56px;
  margin-top: 42px;
}
.goodstable-header {
  height: 56px;
  background-color: #ededed;
}
.goodstable-body {
  border: 1px solid #d1d1d1;
  border-top: 0; 
}
.goodstable-body div {
  line-height: 30px;
  padding: 8px 15px;
}
.goodstable-body .col-sm-8 {
  border-right: 1px solid #d1d1d1;
}
.agree {
  margin-top: 24px;
  padding-bottom: 35px;
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
  color: #454545;
}
.checkbox {
  width: 20px;
  height: 20px;
  float: left;
  background: #fff;
  margin-top: 0;
  /* border: 1px solid #999999; */
  position: relative;
  cursor: pointer;
  margin-right: 16px;
  margin-bottom: 0;
}
.checkbox input[type=checkbox],
.checkbox input[type=radio] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.checkbox .checkbox-after {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #999999;
}
.checkbox input:checked+.checkbox-after {
  background: url(../images/check.png) no-repeat 100%;
  border-color: #fff;
}
.agree a {
  text-decoration: underline;
}
.balance label{
  font-size: 18px;
  color: #3d3d3d;
  margin-top: 33px;
  margin-bottom: 25px;
}
.select {
  width: 278px;
	height: 43px;
	border-radius: 4px;
  border: solid 1px #999999;
  padding: 0 30px 0 12px;
  position: relative;
  background: url(../images/select-drop.jpg) no-repeat 248px 18px/18px 9px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #fff;
  outline: 0;
}
.invitationCode,
.input {
  width: 278px;
	height: 43px;
	border-radius: 4px;
  border: solid 1px #999999;
  font-size: 14px;
  padding: 0 12px;
}
.balance {
  padding-bottom: 45px;
  border-bottom: 1px solid #d2d2d2;
}
.invoice {
  padding-top: 10px;
}
.invoice-item {
  margin-top: 34px;
}
.invoice-left {
  width: 147px;
  float: left;
  font-size: 18px;
  color: #3d3d3d;
  font-weight: normal;
}
.invoice-label {
  font-weight: bold;
}
.radio-box {
  float: left;
  margin-right: 34px;
}
.invoice-left2 {
  line-height: 43px;
}
.red {
  color: #ef0808;
}
.examservice {
  color: #3d3d3d;
  font-size: 18px;
  line-height: 43px;
}
.submit-box {
  margin-top: 64px;
  text-align: right;
}
.submit-box .submit {
  width: 152px;
	height: 56px;
  background-color: #e91111;
  color: #ffffff;
  font-size: 18px;
  line-height: 56px;
  border: 0;
  margin-left: 50px;
}
.submit-box span {
  line-height: 56px;
  color: #2a2a2a;
  font-size: 18px;
}
.submit-box span.money {
  color: #e91111;
  font-size: 22px;
}
.adress-require .tip,
.required .tip {
  color: #ef0808;
  display: none;
}
.adress-require.error .tip,
.required.error .tip {
  display: inline;
}
.adress-require.error input,
.required.error input {
  border-color: #ef0808;
}
.adress {
  padding: 20px 30px;
  border: solid 1px #d1d1d1;
  margin-top: 35px;
}
.adress div {
  padding: 0;
}
.adress span {
  font-size: 18px;
}
.adress span.adress-add {
  color: #009d82;
  margin-left: 8px;
  cursor: pointer;
}
.adress span.adress-add:hover,
.adress-edit:hover{
  color: #1bc4ad;
}
.adress .adress-title {
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.adress-to,
.adress-name {
  color: #333333;
  font-size: 16px;
}
.adress-edit {
  color: #009d82;
  font-size: 16px;
  text-align: right;
  cursor: pointer;
}
.adress-con {
  margin-bottom: 30px;
}
.adress-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  width: 836px;
  max-width: 80%;
}
.info-title{
  height: 56px;
  background-color: #ededed;
  line-height: 56px;
  color: #666666;
  font-size: 18px;
  padding: 0 20px;
}
.info-title button {
  line-height: 56px;
  width: 24px;
  background: url(../images/adress-close.png) no-repeat center/24px 24px;
}
.info-con {
  margin-top: 30px;
  font-size: 18px;
}
.info-con>div {
  margin-bottom: 20px;
}
.info-con label {
  font-weight: normal;
  margin-bottom: 0;
  line-height: 43px;
  color: #3d3d3d;
}
.info-con input {
  border-radius: 4px;
  border: solid 1px #999999;
  width: 300px;
  height: 43px;
  padding: 0 13px;
  max-width: 80%;
}
.save-adress {
  color: #ffffff;
  font-size: 16px;
  padding: 0 44px;
  background-color: #009d82;
  border-radius: 4px;
  border: 0;
  line-height: 43px;
  margin-bottom: 100px;
}
.popover-ul {
  max-height: 350px;
  overflow-y: auto;
}
.popover-ul::-webkit-scrollbar{
  width:10px;
  height:10px;
  /**/
}
.popover-ul::-webkit-scrollbar-track{
  background: rgb(239, 239, 239);
  border-radius:2px;
}
.popover-ul::-webkit-scrollbar-thumb{
  background: #bfbfbf;
  border-radius:10px;
}
.popover-ul::-webkit-scrollbar-thumb:hover{
  background: #333;
}
.popover-ul li {
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
.red {
  color: #ef0808;
}
@media (max-width: 767px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .fapiaoneirong {
    width: 90px;
  }
}